<a href="https://colab.research.google.com/github/vapaul10/BusinessProgramming/blob/Week-5---Assignments/Copy_of_Week_5_Lists_and_Dictionaries_Homework(Final).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#5.2 List Methods Exercise 1a
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the **following** expressions:

a. **data[2]**

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

f.  data + [2, 10, 5]

In [ ]:
data = [5,3,7]
data
data[2]

7

#5.2 List Methods Exercise 1b
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

**b. data[-1]**

c. len(data)

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5,3,7]
data
data[-1]

7

#5.2 List Methods Exercise 1c

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

**c. len(data)**

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
len(data)

3

#5.2 List Methods Exercise 1d

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:
a. data[2]

b. data[-1]

c. len(data)

d. **data[0:2]**

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
data[0:2]

[5, 3]

#5.2 List Methods Exercise 1e

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions: a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. **0 in data**

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
data == '0'

False

#5.2  Exercise 1f
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

f. **data + [2, 10, 5]**

In [ ]:
data = [5, 3, 7]
data
data + [2, 10, 5]

[5, 3, 7, 2, 10, 5]

#5.2 Exercise 1c

5.2 List Methods Exercise
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

**c. len(data)**

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
len(data)

3

#5.2 Exercise 1d
5.2 List Methods Exercise Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

c. len(data)

**d. data[0:2]**

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
data[0:2]

#5.2 List Methods Exercise 1e
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions: a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

**e. 0 in data**

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
data == '0'

#5.1 Exercise 1f

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

**f. data + [2, 10, 5]**

g. tuple(data)

In [ ]:
data = [5, 3, 7]
data
data + [2, 10, 5]

#5.2 Exercise 1g
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

**g. tuple(data)**

In [ ]:
data =('5,' '3,' '7')   #tuple because of the parentheses
data

#5.2 Exercise 2a
Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a. ** Replace the value at position 0 in data with that value’s negation.**

b. Add the value 10 to the end of data.

c. Insert the value 22 at position 2 in data.

d. Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data[0] = -data[0]
data

# 5.2 Exercise 2b
Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a. Replace the value at position 0 in data with that value’s negation.

b. *Add the value 10 to the end of data. *

c. Insert the value 22 at position 2 in data.

d. Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data.append(10)
data

#5.2 Exercise 2c
Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a. Replace the value at position 0 in data with that value’s negation.

b. Add the value 10 to the end of data.

c. Insert the value 22 at position 2 in data.

d. Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data.insert(2, 22)
data

# 5.2 Exercise 2d
Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a. Replace the value at position 0 in data with that value’s negation.

b. Add the value 10 to the end of data.

c. Insert the value 22 at position 2 in data.

d. Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data.pop(1)
data

#5.2 Exercise 3
What is a mutator method? Explain why mutator methods usually return the value None. """ Mutator methods, like insert, append, extend, pop and sort are usually not valuable to the caller. Python automatically returns call with none. """

In [ ]:
data = ['date', 'banana', 'orange', 'chocolate strawberries']
data.sort()
data

#5.2 Exercise 4
Describe the costs and benefits of aliasing and explain how it can be avoided.

In [ ]:
# """"""In the case of large numbers or different type of values you might use aliasing. 
# Also, when using immutable strings, aliasing saves the memory. 
# To avoid aliasing, it is recommended to mutate the list or create a new object and copy it """ """

#5.2 Exercise 5
 Write a loop that accumulates the sum of the numbers in a list named "data."

In [ ]:
data = [112 + 42]
sum = 0
for item in data:
  sum = data
data

# 5.3.3 Exercise 1 
What roles do the parameters and the return statement play in a function definition?bold text

In [ ]:
# Answer to 5.3 Exercise 1#
# A parameter is the name used in the function definition for an argument that is passed to the function when it is called. 
# A return is placed at an exit point of a function and should return a value. 
# When there is no function in the return statement, Python returns, None, automatically."

# 5.3.4 Exercise 2
Define a function named "even." This function expects a number as an argument and returns True if the number is divisible by 2, or it returns False otherwise.(Hint: A number is evenly divisible by 2 if the remainder is 0.)

In [ ]:
"""
File:  make even
"""

def main():
    """ the main function"""
    number = float(input("Enter a number:  "))
    result = even(number)
    print("The even number of:  ", number,  "is", result)
    
def even(x):
    """Returns the even of x. """
    return x % 2 == 0

# The entry point for program execution
if __name__ == "__main__":
    main()"""
File:  make even
"""

def main():
    """ the main function"""
    number = float(input("Enter a number:  "))
    result = even(number)
    print("The even number of:  ", number,  "is", result)
    
def even(x):
    """Returns the even of x. """
    return x % 2 == 0

# The entry point for program execution
if __name__ == "__main__":
    main()

#5.3.5 Exercise 3

Use the function even to simplify the definition of the function odd presented in this section.

In [ ]:
"""
File: Simplifytoodd
"""
def main():
    """ the main function"""
    number = float(input("Enter a number:  "))
    result = odd(number)
    print("This is simplified to odd. \n ", number,  "is", result)
    
def odd(x):
    #Returns True if value is odd or otherwise False.#
    if x % 2 == 1:
        return True
    else:
        return False 

# The entry point for program execution
if __name__ == "__main__":
    main()
  
#pause = (str(input("Click Enter to End Program: "))

Enter a number:  234
This is simplified to odd.
  234.0 is False

# 5.3.6  Exercise 4

Define a function named summation. This function expects two numbers, named low and high, as arguments. The function computes and returns the sum of the numbers between low and high, inclusive.

In [ ]:
"""
File: sum
"""
def main():
#   """ the main function"""
# number = int(input("Enter a result:  "))
#    result = result(number)
#    print("This is summation: \n ", number,  "is", result)

def summation(lower, upper):
   result = 0
   while lower <= upper:
     result += lower
     lower += 1
   return result

# The entry point for program execution
# if __name__ == "__main__":
# main()

5.3.7 Exercise 5

In [ ]:
""" # The purpose of a main function.
# It is important to name a main function in the script, especially with several
cooperating functions, because the main function purpose might be to take inputs
and process each one by calling other functions, and printing out the results. 
For example when Python loads a module, and the code for both function
definitions is loaded and compiled, yet it will not executed until the main is
then called within an if statement as the last step in the script.
This transfers the directions of the first instruction to the main function’s
definition.
"""

# 5.4.4  Exercise 2
Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the expressions that perform the following tasks: 

a.  Replace the value at the key 'b' in data with that value’s negation.

b.  Add the key/value pair 'c':40 to data. 

c.  Remove the value at key 'b' in data, safely. 

d.  Print the keys in data in alphabetical order.

# 5.4.4  Exercise 2a
Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the expressions that perform the following tasks: 

**a.  Replace the value at the key 'b' in data with that value’s negation.**

In [ ]:
aList: {'b':"20",'a':'35'}
first = [35]
second = first
first
# [10, 20, 30]
# second
#[10, 20, 30]
#first[1] = 99
# first
# if target in first:
# print(first)
# else:
# print("Sorry correct. Try again! \n", first)

[35]

# 5.4.4 Exercise 2b
Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the expressions that perform the following task(s):

**b. Add the key/value pair 'c':40 to data.**

In [ ]:
info = {'b':20, 'a':35}
info["key/value pair"] = "'c':40"
info

# 5.4.4  Exercise 2c
Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the expressions that perform the following tasks: 

**c.  Remove the value at key 'b' in data, safely.**

In [ ]:
info = {'b':20, 'a':35}
print(info.pop('b', None))
info

20

{'a': 35}

#5.4.4 Exercise 2d
Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the expressions that perform the following tasks:

**d. Print the keys in data in alphabetical order.**

In [ ]:
info = {'b':20,'a':35}
print(key, info[key])

b 20

•    A list is a sequence of zero or more elements. The elements can be of any type. The len function returns the number of elements in its list argument. Each element occupies a position in the list. The positions range from 0 to the length of the list minus 1. 

•    Lists can be manipulated with many of the operators used with strings, such as the subscript, concatenation, comparison, and in operators. Slicing a list returns a sublist.

•    The list is a mutable data structure. An element can be replaced with a new element, added to the list, or removed from the list. Replacement uses the subscript operator. The list type includes several methods for insertion and removal of elements. 

•    The method index returns the position of a target element in a list. If the element is not in the list, an error is raised. 

•    The elements of a list can be arranged in ascending order by calling the sort method. 

•    Mutator methods are called to change the state of an object. These methods usually return the value None. This value is automatically returned by any function or method that does not have a return statement. 

•    Assignment of one variable to another variable causes both variables to refer to the same data object. When two or more variables refer to the same data object, they are aliases. When that data value is a mutable object such as a list, side effects can occur. A side effect is an unexpected change to the contents of a data object. To prevent side effects, avoid aliasing by assigning a copy of the original data object to the new variable. 

•    A tuple is quite similar to a list, but it has an immutable structure. 

•    A function definition consists of a header and a body. The header contains the function’s name and a parenthesized list of argument names. The body consists of a set of statements. 

•    The return statement returns a value from a function definition. 

•    The number and positions of arguments in a function call must match the number and positions of required parameters specified in the function’s definition. 

•    A dictionary associates a set of keys with values. Dictionaries organize data by content rather than position. 

•    The subscript operator is used to add a new key/value pair to a dictionary or to replace a value associated with an existing key. 

•    The dict type includes methods to access and remove data in a dictionary. 

•    The for loop can traverse the keys of a dictionary. The methods keys and values return access to a dictionary’s keys and values, respectively. 

•    Bottom-up testing of a program begins by testing its lower-level functions and then testing the functions that depend on those lower-level functions. Top-down testing begins by testing the program’s main function and then testing the functions on which the main function depends. These lower-level functions are initially defined to return their names.

# Project
Write a program that allows the user to navigate the lines of text in a file. The program should prompt the user for a filename and input the lines of text into a list. The program then enters a loop in which it prints the number of lines in the file and prompts the user for a line number. Actual line numbers range from 1 to the number of lines in the file. If the input is 0, the program quits. Otherwise, the program prints the line associated with that number.