<a href="https://colab.research.google.com/github/vapaul10/BusinessProgramming/blob/Week-3-Assignment/Valeri_Homework_Wk_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Test run on loops and Ranges and lists

In [ ]:
>>> for count in range(5):      #  1 2 3 4 5
    print(count + 1, end = " ")
    
>>> for count in range(1, 4):   #  1 2 3
    print(count, end = " ")
    
>>> for count in range(1, 6, 2): # 1 3 5
    print(count, end = " ")
    
>>> for count in range(6, 1, -1):  # 6 5 4 3 2
    print(count, end = " ")

1 2 3 4 5 1 2 3 1 3 5 6 5 4 3 2

In [ ]:
>>> for count in range(100): 
    print("Val")

# Section 3.2  Question 3
Q3  Write a code segment that displays the values of the integers x, y, and z on a single  line, such that each value is right-justified with a field width of 6.

In [ ]:
>>> letter1 = str(input("First letter: "))
>>> letter2 = str(input("Next letter:  "))
>>> letter3 = str(input("Last letter:  "))
>>> letters = (letter1, letter2, letter3)
print("%6s%6s%6s" % letters)

First letter: x
Next letter:  y
Last letter:  z
     x     y     z

 # Sect 3.2 Question 4
4. Write a loop that outputs the numbers in a list named salaries. The outputs should be  formatted in a column that is right-justified, with a field width of 12 and a precision of 2. 

-*- coding: utf-8 -*-
"""
number = float(input("Enter salary:  " )
enter salary and organize output
"""

In [ ]:
>>> salary1 = float(input("Enter salary: " ))
>>> salary2 = float(input("Next salary: " ))
>>> salary3 = float(input("Next Salary: " ))
>>> salaries = (salary1, salary2, salary3)
>>> for number in salaries:
    print("%12.2f" % number)
>>> pause = str(input("Click enter to close"))

Enter salary: 123378
Next salary: 100000
Next Salary: 120000
   123378.00
   100000.00
   120000.00
Click enter to close

In [ ]:
>>> salary1 = float(input("Enter salary: " ))
>>> salary2 = float(input("Next salary: " ))
>>> salary3 = float(input("Next Salary: " ))
>>> salaries = (salary1, salary2, salary3)
>>> for number in salaries:
    print("%12.2f" % number)
>>> pause = str(input("Click enter to close"))

Enter salary: 123378
Next salary: 100000
Next Salary: 120000
   123378.00
   100000.00
   120000.00
Click enter to close

#3.3. Question 1

""" Assume that x is 3 and y is 5. Write the values of the following expressions: 
"""
a. x == y

b. x> y – 3

c. x <= y – 2

d. x == y or x > 2

e. x != 6 and y > 10

f.  x > 0 and x < 100

In [ ]:
#3.3Q1a
>>> x = 3
>>> y = 5

>>> x == y

False

#3.3Q1b

In [ ]:
>>> x = 3
>>> y = 5
>>> x > y-3

True

#3.3Q1c

In [ ]:
>>> x = 3
>>> y = 5
>>> x <= y - 2

True

#3.3Q1d

In [ ]:
>>> x = 3
>>> y = 5
>>> x == y or x > 2

True

#3.3Q1e

In [ ]:
>>> x = 3
>>> y = 5
>>> x != 6 and y > 10

False


# 3.3Q1e

In [ ]:
>>> x = 3
>>> y = 5
>>> x > 0 and x < 100

True

#3.3 Q2
Assume that x refers to a number. Write a code segment that prints the number’s absolute value without using Python’s abs function.

import math 
>>> x = str(input("Enter a number greater zero: "))

#3.3 Q3

In [ ]:
x = float(input("Enter a number: " ))
>>> if x < 0:
    x = -x
    print(-x)
>>> else:
    print(x)

# 3.3 Q4 
The variables x and y refer to numbers. Write a code segment that prompts the user for an arithmetic operator and prints the value obtained by applying that operator to x and y.

In [ ]:
>>> op = str(input("Enter an arithmetic operator: "))
>>> if op == "+":
    print(x + y)
>>> elif op == "-":
    print(x - x)
>>> elif op == "*":
    print(x * y)
>>> elif op == "/":
    print(x / y)
>>> else:
    print(x % y)
>>> pause = input("Click enter to close")

Enter an arithmetic operator: r
3.0
Click enter to close

3.4 Q1 Conditional Iterations:  **while**loop

In [ ]:
>>> theSum = 0.0
>>> data = input("Enter a number or just enter to quit:  ")
>>> while data !=" ":
   number = float(data)
   theSum += number
   data = (input("Enter a number or just enter to quit: "))
   
>>> print("The sum is", theSum)

3.4 Q2 Conditional Iteration:

In [ ]:
import math
>>> math.log
>>> n = float(input("Enter a number:" ))
>>> logbase2 = 0
>>> while n > 0:
    n //= 2
    logbase2 += 1
>>> print(logbase2)
>>> print("Click Enter to Exit program." )

#3.6 Project 1 Triangle
"""
Valeri Paul
Fall 2020
ISTM 631 Programming for Business Analytics
"""

In [ ]:

import math

# Inputs
tside1 = int(input("Enter the first side: "))
tside2 = int(input("Enter the second side: "))
tside3 = int(input("Enter the third side: "))

# Result and Remarks
if tside1 == tside2 and tside2 == tside3:
    print("The triangle is equilateral.")
else:
    print("The triangle is not equilateral.")
   
pause = str(input("Click Enter to End Program: "))