<a href="https://colab.research.google.com/github/vapaul10/BusinessProgramming/blob/Week-2-Assignments/Valeri_Homework_Wk_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
>>> for count in range(5):      #  1 2 3 4 5
    print(count + 1, end = " ")
    
>>> for count in range(1, 4):   #  1 2 3
    print(count, end = " ")
    
>>> for count in range(1, 6, 2): # 1 3 5
    print(count, end = " ")
    
>>> for count in range(6, 1, -1):  # 6 5 4 3 2
    print(count, end = " ")

1 2 3 4 5 1 2 3 1 3 5 6 5 4 3 2

In [ ]:
>>> for count in range(100): 
    print("Val")

In [ ]:
>>> letter1 = str(input("First letter: "))
>>> letter2 = str(input("Next letter:  "))
>>> letter3 = str(input("Last letter:  "))
>>> letters = (letter1, letter2, letter3)
print("%6s%6s%6s" % letters)

First letter: x
Next letter:  y
Last letter:  z
     x     y     z

# -*- coding: utf-8 -*-
"""
number = float(input("Enter salary:  " )
# enter salary and organize output
"""

In [33]:
>>> salary1 = float(input("Enter salary: " ))
>>> salary2 = float(input("Next salary: "))
>>> salary3 = float(input("Next Salary: "))
>>> salaries = (salary1, salary2, salary3)
>>> for number in salaries:
    print("%12.2f" % number)
>>> pause = str(input("Click enter to close"))

Enter salary: 100000
Next salary: 200200
Next Salary: 341000
   100000.00
   200200.00
   341000.00
Click enter to close