<a href="https://colab.research.google.com/github/vapaul10/BusinessProgramming/blob/Week-5---Assignments/Week_5_Lists_and_Dictionaries(do_not_turn_in).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Trial Attempt at Lists, Tuples
(from Week 5)

In [ ]:


mylist = [1,2, "horse"]
print(mylist)
print(mylist[0])      # print 1
mylist.append("cat")
mylist.append("dog")
mylist[1]=3       #list can change data type and value, like int to string
print(mylist)
mylist[1]="pig"
print(mylist)

print("Now let's look at the tuples")
mytuple = (1,2, "horse")
print(mytuple)
print(mytuple[0])
#  mytuple[1]=8   #Tuple CANNOT Change value even if it is the same data type     
print(mytuple)
#  mytuple[1]="tuplepig"
print(mytuple)

#Notes Inserting Row

In [ ]:
example = [1,2,3,4]
example

[1, 2, 3, 4]

#5.2 List Methods Exercise 1a
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the **following** expressions:

a. **data[2]**

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

f.  data + [2, 10, 5]

In [ ]:
data = [5,3,7]
data
data[2]

7

#5.2 List Methods Exercise 1b
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

**b. data[-1]**

c. len(data)

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5,3,7]
data
data[-1]

7

#5.2 List Methods Exercise 1c

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

**c. len(data)**

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
len(data)

3

#5.2 List Methods Exercise 1d

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:
a. data[2]

b. data[-1]

c. len(data)

d. **data[0:2]**

e. 0 in data

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
data[0:2]

[5, 3]

#5.2 List Methods Exercise 1e

Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions: a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. **0 in data**

f. data + [2, 10, 5]

In [ ]:
data = [5, 3, 7]
data
data == '0'

False

# 5.1  Exercise 1f
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

f. **data + [2, 10, 5]**

g. tuple(data)

In [ ]:
data = [5, 3, 7]
data
data + [2, 10, 5]

[5, 3, 7, 2, 10, 5]

#5.2 Exercise 1g
Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:

a. data[2]

b. data[-1]

c. len(data)

d. data[0:2]

e. 0 in data

f. data + [2, 10, 5]

g. **tuple(data)**

In [ ]:
data =('5,' '3,' '7')   #tuple because of the parentheses
data

'5,3,7'

#5.2 Exercise 2a

Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a.   ** Replace the value at position 0 in data with that value’s negation.** 

b.    Add the value 10 to the end of data. 

c.    Insert the value 22 at position 2 in data. 

d.    Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data[0] = -data[0]
data

[-5, 3, 7]

#5.2 Exercise 2b

Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a.   Replace the value at position 0 in data with that value’s negation.

b.    **Add the value 10 to the end of data. **

c.    Insert the value 22 at position 2 in data. 

d.    Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data.append(10)
data

[5, 3, 7, 10]

#5.2 Exercise 2c

Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a. Replace the value at position 0 in data with that value’s negation.

b. Add the value 10 to the end of data.

c. **Insert the value 22 at position 2 in data.**

d. Remove the value at position 1 in data

In [ ]:
data = [5, 3, 7]
data
data.insert(2, 22)
data

[5, 3, 22, 7]

#5.2 Exercise 2d

Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:

a. Replace the value at position 0 in data with that value’s negation.

b. Add the value 10 to the end of data.

c. Insert the value 22 at position 2 in data.

**d. Remove the value at position 1 in data**

In [30]:
data = [5, 3, 7]
data
data.pop(1)
data

[5, 7]

#5.2 Exercise 3

What is a mutator method? Explain why mutator methods usually return the value None.
""" Mutator methods, like insert, append, extend, pop and sort are usually not valuable to the caller.
  Python automatically returns call with none.
"""

In [ ]:

data = ['date', 'banana', 'orange', 'chocolate strawberries']
data.sort()
data

['banana', 'chocolate strawberries', 'date', 'orange']

#5.2 Exercise 4

Describe the costs and benefits of aliasing and explain how it can be avoided.

In [ ]:
""""""In the case of large numbers or different type of values you might use aliasing. Also, when using immutable strings, aliasing saves the memory. To avoid aliasing, it is recommended to mutate the list or create a new object and copy it """ """

#5.2 Exercise 5
Write a loop that accumulates the sum of the numbers in a list named "data."

In [ ]:
data = [112 + 42]
sum = 0
for item in data:
  sum = data
data

[154]

# 5.3 Exercise 1

What roles do the parameters and the return statement play in a function definition?**bold text**

In [ ]:
"Answer to 5.3 Exercise 1 "
# A parameter is the name used in the function definition for an argument that is passed to the function when it is called. 
# A return is placed at an exit point of a function and should return a value. 
# When there is no function in the return statement, Python returns, None, automatically."

#  5.3 Exercise 2.

Define a function named "even." This function expects a number as an argument and returns True if the number is divisible by 2, or it returns False otherwise. (Hint: A number is evenly divisible by 2 if the remainder is 0.)

In [31]:
"""
File:  make even
"""

def main():
    """ the main function"""
    number = float(input("Enter a number:  "))
    result = even(number)
    print("The even number of:  ", number,  "is", result)
    
def even(x):
    """Returns the even of x. """
    return x % 2 == 0

# The entry point for program execution
if __name__ == "__main__":
    main()

Enter a number:  4
The even number of:   4.0 is True